name: payhere_mobilesdk_flutter
description: Make Onetime, Subscription and Pre-approval payments with your Flutter Mobile App through PayHere!
version: 3.2.2
homepage: https://github.com/PayHereLK/payhere-mobilesdk-flutter

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: lk.payhere.payhere_mobilesdk_flutter
        pluginClass: PayhereMobilesdkFlutterPlugin
      ios:
        pluginClass: PayhereMobilesdkFlutterPlugin

